    <div class="container-fluid dashboard">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li class="active"><a href="#">Overview <span class="sr-only">(current)</span></a></li>
            <li><a [routerLink]="['/manage/friends']">Friends</a></li>
            <li><a [routerLink]="['/manage/courses']">Courses</a></li>
            <li><a [routerLink]="['/manage/tournaments']">Tournaments</a></li>
            <li><a [routerLink]="['/manage/tours']">Tours</a></li>
          </ul>
          <ul *ngIf="userIsAdmin" class="nav nav-sidebar">
            <li><a [routerLink]="['/admin/users']">Registered Users</a></li>
            <li><a [routerLink]="['/admin/ads']">Ads</a></li>
          </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header text-center">Dashboard</h1>

          <div class="row placeholders">
              
            <div class="col-xs-6 col-sm-3 placeholder">
              <a [routerLink]="['/manage/friends']">
                  <img src="/images/add-friends.png" width="200" height="200" class="img-responsive" alt="Friends">
                  <h4>Friends</h4>
                  <span class="text-muted">Manage Friends</span>
              </a>
            </div>
            
            <div class="col-xs-6 col-sm-3 placeholder">
              <a [routerLink]="['/manage/courses']">
                  <img src="/images/golf-course.png" width="200" height="200" class="img-responsive" alt="Courses">
                  <h4>Courses</h4>
                  <span class="text-muted">Add a New Course</span>
              </a>
            </div>

            <div class="col-xs-6 col-sm-3 placeholder">
              <a [routerLink]="['/manage/tournaments']">
                  <img src="/images/trophy-icon.jpg" width="200" height="200" class="img-responsive" alt="Tournaments">
                  <h4>Tournament</h4>
                  <span class="text-muted">Create or Manage a Single Tournament</span>
              </a>
            </div>

            <div class="col-xs-6 col-sm-3 placeholder">
              <a [routerLink]="['/manage/tours']">
                  <img src="/images/icon-yearly.png" width="200" height="200" class="img-responsive" alt="Tours">
                  <h4>Tour</h4>
                  <span class="text-muted">Create or Manage a Tour</span>
              </a>
            </div>

          </div>

          <h2 class="sub-header">Recent Rounds</h2>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Score</th>
                  <th>User</th>
                  <th>Course</th>
                  <th>Date</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>77</td>
                  <td>ECUdweber</td>
                  <td>Catawba Creek</td>
                  <td>08/17/2016</td>
                </tr>
                <tr>
                  <td>75</td>
                  <td>ralphdiaz</td>
                  <td>Catawba Creek</td>
                  <td>08/17/2016</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>