<div class="container-fluid">
    <!--<h1 class="text-center">Regular Mode</h1>-->
    
    <!--
    <div *ngIf="user">
        User: <pre>{{ user.currentRound | json }}</pre>
    </div>
    -->
    
    <!--
    <p>This is the type of view used during a personal round or by each person during a tournament.</p>
    <p>Do a hole by hole type view where you enter score then go to next hole.</p>
    -->
    
    <div *ngIf="!courseHasBeenChosen" class="choose-course-container">
        <button *ngIf="!user?.currentRound?.roundCompleted" type="button" class="btn btn-primary btn-lg btn-block" (click)="continueRound()">Continue Round</button>
        <course-chooser (courseChosen)='courseChosen($event)'></course-chooser>
    </div>
    
    <!--friendsToTrack: {{ friendsToTrack | json }}-->
    
    <div *ngIf="courseHasBeenChosen">
        <div class="course-name text-center">{{chosenCourse.name}}</div>
        
        <div class="bordered">
            <button type="button" class="btn btn-primary btn-lg btn-block" (click)="showFriendPicker()">Track Friends Score</button>
            
            <div *ngIf="showFriendsPicker" class="friends-container">
            	<div class="list-group course-list">
            		<div *ngFor="let friend of friendsWithDetails; let i = index" (click)="addFriend(i)" class="list-group-item row">
            			<span class="friend-name">{{ friend.displayname }}</span>
            		</div>
            	</div>             
            </div>
        
        </div>
        
        <table class="fake-scorecard table table-bordered">
            <tr class="header">
                <td>&nbsp;</td>
                <td>1</td>
                <td>2</td>
                <td>3</td>
                <td>4</td>
                <td>5</td>
                <td>6</td>
                <td>7</td>
                <td>8</td>
                <td>9</td>
                <td>Out</td>
            </tr>
			<tr class="row course-info tee-details">
			    <td>
			        <!--
                    <div class="hole-yardage">
                        Yds
                    </div>
                    -->
                    <div class="hole-par">
                        Par
                    </div>			        
			    </td>
                <td *ngFor="let hole of frontNine">
                    <!--
                    <div class="hole-yardage">
                        {{hole.distance}}
                    </div>
                    -->
                    <div class="hole-par">
                        {{hole.par}}
                    </div>
                </td>
			</tr> 
            <tr class="row tee-details user-score-details">
                <td>You</td>
                <td *ngFor="let score of userScoring.frontNineScores; let i = index;">
                    <span [ngClass]="getUserScoreToParClass(i, 'front')">{{ score === 0 ? '': score }}</span>
                </td>                
            </tr>	
            
            <tr *ngFor="let friendToTrack of friendsToTrack" class="row tee-details user-score-details">
                <td>{{friendToTrack.displayname}}</td>
                <td *ngFor="let score of friendToTrack.userScoring.frontNineScores; let i = index;">
                    <span [ngClass]="getFriendsScoreToParClass(i, 'front', friendToTrack)">{{ score === 0 ? '': score }}</span>
                </td>                
            </tr>                
            
            <!-- Add other users front 9 scores as well -->
            
            <tr><td colspan="11">&nbsp;</td></tr>
            
            <tr class="header">
                <td>&nbsp;</td>
                <td>10</td>
                <td>11</td>
                <td>12</td>
                <td>13</td>
                <td>14</td>
                <td>15</td>
                <td>16</td>
                <td>17</td>
                <td>18</td>
                <td>In</td>
                <td>Total</td>                
            </tr>
			<tr class="row course-info tee-details">
			    <td>
			        <!--
                    <div class="hole-yardage">
                        Yds
                    </div>
                    -->
                    <div class="hole-par">
                        Par
                    </div>			        
			    </td>
                <td *ngFor="let hole of backNine">
                    <!--
                    <div class="hole-yardage">
                        {{hole.distance}}
                    </div>
                    -->
                    <div class="hole-par">
                        {{hole.par}}
                    </div>
                </td>
			</tr>             
            <tr class="row tee-details user-score-details">
                <td>You</td>
                <td *ngFor="let score of userScoring.backNineScores; let i = index;">
                    <span [ngClass]="getUserScoreToParClass(i, 'back')">{{ score === 0 ? '': score }}</span>
                </td>                
            </tr>
            
            <tr *ngFor="let friendToTrack of friendsToTrack;" class="row tee-details user-score-details">
                <td>{{friendToTrack.displayname}}</td>
                <td *ngFor="let score of friendToTrack.userScoring.backNineScores; let i = index;">
                    <span [ngClass]="getFriendsScoreToParClass(i, 'back', friendToTrack)">{{ score === 0 ? '': score }}</span>
                </td>                
            </tr>             
            
            <!-- Add other users back 9 scores as well -->
        </table>        
        
        <div class="current-hole-container row centered">
            
            <!--Current Hole: {{ currentHole | json }}-->
            
            <div class="col-xs-12 col-md-4">
                <div class="row">
                    <div class="col-xs-3">
                        <div *ngIf="currentHoleIndex > 0" class="arrow-container" (click)="decrementHole()">
                            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                        </div>
                    </div>  
                    <div class="col-xs-6">
                        <div class="current-hole-number row">
                            <h1 class="text-center">Hole {{ currentHole.hole }}</h1>
                        </div>
                        <div class="row text-center">
                            <span>Par {{ currentHole.par }} - {{ currentHole.distance }} yds</span>
                        </div>
                    </div>
                    <div class="col-xs-3 pad-left">
                        <div *ngIf="currentHoleIndex < 18" class="arrow-container" (click)="incrementHole()">
                            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                        </div>
                    </div>                    
                </div>
            </div>
        </div>
        
        <div class="score-picker row centered">
            <div class="row text-center">
                <div class="btn-group" role="group" aria-label="Choose Score">
                    <button *ngFor="let option of scoreOptions" type="button" (click)="setHoleScore(option)" class="btn btn-default">{{option}}</button>
                </div>
            </div>  
        </div>
        
        <div *ngIf="!showSaveRound" class="row text-center user-current-over-under" [style.color] = "userScoring.scoreToPar < 0 ? 'red': 'black'">
            {{ userScoring.scoreToPar > 0 ? '+' : '' }}{{ userScoring.scoreToPar === 0 ? 'E': userScoring.scoreToPar }}
        </div>
        
        <div *ngIf="showSaveRound">
            <div class="text-center">
                You shot a {{ userScoring.totalScore }}
            </div>
            <button type="button" class="btn btn-danger btn-lg btn-block" (click)="finalizeRound()">Save Round</button>
        </div>
        
    </div>
    
</div>