<div class="container">
    <h2 class="text-center">Manage Friends</h2>

    <!--
    User: <pre>{{ user | json }}</pre>
    <br><br>
    Friends: <pre>{{ friends | json }}</pre>
    -->
    
    <p>Add Friends</p>
    
	  <div class="list-group account-list">
  		<div *ngFor="let account of accounts; let i = index" class="list-group-item row" (click)="addFriend(i)" >
  			<span class="account-name">{{ account.displayname }} - Handicap: {{ account.handicap }}</span>
  		</div>
	  </div>  
	  
	  <hr>
    
    <h2 class="sub-header">Current Friends</h2>
    <div class="table-responsive">
        <table class="table table-striped current-friends">
          <thead>
            <tr>
              <th width="80%">Username</th>
              <th class="text-center" width="10%">View</th>
              <th class="text-center" width="10%">Remove</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let friend of friendsWithDetails; let i = index">
              <td>{{ friend.displayname }}</td>
              <td class="text-center"><span class="glyphicon glyphicon glyphicon-info-sign" aria-hidden="true"></span></td>
              <td (click)="removeFriend(i)" class="text-center"><span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span></td>              
            </tr>
          </tbody>
        </table>
    </div>  
    
</div>