<div class="jumbotron text-center">
  <div class="container">
    <h1>Group Tour Golf</h1>
    <p>Live tour/tournaments among friends.</p>
    <p><a class="btn btn-primary btn-lg" [routerLink]="['about']" role="button">Learn more &raquo;</a></p>
  </div>
</div>

<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-4">
      <h2>Live Tournament</h2>
      <p>Create a real-time tournament anytime, anywhere.</p>
      <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
    </div>
    <div class="col-md-4">
      <h2>Yearly Tour</h2>
      <p>Create yearly tour among friends. View tournament results/tour standings.</p>
      <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
    </div>
    <div class="col-md-4">
      <h2>Challenge Friends Scores</h2>
      <p>Challenge a friend to beat your score.</p>
      <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
    </div>
  </div>

  <hr>

  <footer>
    <p>&copy; 2016 Group Tour Golf | <a href="http://www.thedanielweber.com" target="_blank">Daniel L. Weber</a></p>
  </footer>
</div> <!-- /container -->